@import 'bulma/css/bulma.min.css';
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

:root {
  --blue: #0282f9;
  --bridal-heath: #fffbf6;
  --dark-gray: #262626;
  --gray: #323232;
  --sidecar: #f4eac0;
  --white: #fff;
  --white-smoke: #f5f5f5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  text-decoration: none;
  
}

body {
  background-color: cadetblue;
  padding: 1rem;

}


section{
  margin: 0 auto;
  position: initial;
  top: 3rem;
  right: 0;
  width: 100%;
  z-index: 1000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(95, 98, 160);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


